<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoHome</title>
    <?php include("__ROOT__/common/html/import.html"); ?>
    <link href="__ROOT__/common/css/first.css" rel="stylesheet">
</head>
<body>
<div class="first">
    <div class="container first_container">
        <div class="first_admin">
            <a href="/index/index/index" style="text-decoration:none">
                <span class="glyphicon glyphicon-briefcase first_icon"></span>
                <span style="color: white;font-size: 20px">admin</span>
            </a>
        </div>
        <div class="first_user">
            <a href="/index/index/index" style="text-decoration:none">
                <span class="glyphicon glyphicon-user first_icon"></span>
                <span style="color: white;font-size: 20px">user</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>