<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoHome</title>
    <link href="../common/css/index.css" rel="stylesheet">
    <!--<link href="../common/css/style.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />-->
    <!--<script src="__STATIC__/jquery.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="__STATIC__/flexisel/jquery.flexisel.js"></script>-->
    <!--<script type="text/javascript" src="../common/js/util.js"></script>-->
</head>
<body class="bgc">
<!-- banner -->
<div id="home" class="bgimg">
    <!-- nav -->
    <div class="headerpage"></div>
    <!-- //nav -->
    <!-- banner-text -->
    <div class="box"></div>
    <div class="banner-text join-box">
        <h2 class="join-text">Do you want to join us?</h2>
        <br>
        <p class="join">
            <div id="reg">
                Join
            </div>/
            <div id="log">
                Login
            </div>
        </p>
    </div>

    <!-- gallery -->
    <div id="gallery" style="position: relative;bottom: -9em;left: 0em;">
        <div class="container">
            <ul id="flexiselDemo1">
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p2.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p3.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p4.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p2.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p3.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="../common/image/p4.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //gallery -->
<div class="modal fade" id="ajax" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container">
    <!-- camera work -->
    <div class="index_v2">
        <div class="index_title">CAMERA WORK</div>
        <div class="index_camera">
            <div class="index_work1" onclick="javascript:location.href='index.html' ">
                <div class="index_image">
                    <img src="../common/image/p2.jpg">
                </div>
                <div class="index_char">
                    <div class="index_char_title">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                    <div class="index_char_describe">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                </div>
            </div>
            <div class="index_work2"  onclick="javascript:location.href='index.html' ">
                <div class="index_image">
                    <img src="../common/image/p4.jpg">
                </div>
                <div class="index_char">
                    <div class="index_char_title">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                    <div class="index_char_describe">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                </div>
            </div>
        </div>
        <div class="index_line"></div>
        <div class="index_camera">
            <div class="index_work1"  onclick="javascript:location.href='index.html' ">
                <div class="index_image">
                    <img src="../common/image/p4.jpg">
                </div>
                <div class="index_char">
                    <div class="index_char_title">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                    <div class="index_char_describe">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                </div>
            </div>
            <div class="index_work2"  onclick="javascript:location.href='index.html' ">
                <div class="index_image">
                    <img src="../common/image/p3.jpg">
                </div>
                <div class="index_char">
                    <div class="index_char_title">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                    <div class="index_char_describe">
                        About the Photo About the Photo About the Photo About the Photo
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //camera work -->

    <div class="index_blank"></div>

    <!-- new article-->
    <div class="index_v3">
        <div class="index_title">NEW ARTICLE</div>
        <div class="index_article">
            <div class="index_new">
                <div class="index_new_title">
                    The new article
                </div>
                <div class="index_new_describe">
                    The new article The new article The new article The new article The new article
                    The new article The new article The new article The new article The new article
                </div>
                <div class="index_icon">
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-thumbs-up">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-heart-empty">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-eye-open">123</span>
                    </div>
                </div>
            </div>
            <div class="index_line"></div>
            <div class="index_new">
                <div class="index_new_title">
                    The new article
                </div>
                <div class="index_new_describe">
                    The new article The new article The new article The new article The new article
                    The new article The new article The new article The new article The new article
                </div>
                <div class="index_icon">
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-thumbs-up">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-heart-empty">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-eye-open">123</span>
                    </div>
                </div>
            </div>
            <div class="index_line"></div>
            <div class="index_new">
                <div class="index_new_title">
                    The new article
                </div>
                <div class="index_new_describe">
                    The new article The new article The new article The new article The new article
                    The new article The new article The new article The new article The new article
                </div>
                <div class="index_icon">
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-thumbs-up">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-heart-empty">123</span>
                    </div>
                    <div class="index_ico">
                        <span class="glyphicon glyphicon-eye-open">123</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_hot">
            <div class="index_hot_article">
                HOT ARTICLE
            </div>
            <div class="index_hot_title">
                <a href="#">I like Photos</a>
            </div>
            <div class="index_parting"></div>
            <div class="index_hot_title">
                <a href="#">I like Photos</a>
            </div>
            <div class="index_parting"></div>
            <div class="index_hot_title">
                <a href="#">I like Photos</a>
            </div>
            <div class="index_parting"></div>
            <div class="index_hot_title">
                <a href="#">I like Photos</a>
            </div>
            <div class="index_parting"></div>
            <div class="index_hot_title">
                <a href="#">I like Photos</a>
            </div>
        </div>
    </div>
    <!-- //new article-->

</div>
<!-- footer -->
<div class="footerpage"></div>
<!-- footer -->
<script type="text/javascript">
    $(document).ready(function(){  //引入jq之后一定要有这个
        //引入导航栏bar.html
        $(".headerpage").load("../common/html/bar.html");
        //引入脚部的固定部分
        $(".footerpage").load("../common/html/footer.html");


        //gallery的滑动效果
        $("#flexiselDemo1").flexisel({
            visibleItems:4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint:640,
                    visibleItems:2
                },
                tablet: {
                    changePoint:768,
                    visibleItems: 3
                }
            }
        });

        function modalOut(url) {
            $("#ajax").modal({
                remote: url
            });
        }

        $("#reg").on("click",function () {
            modalOut('reg.html')
        });

        $("#log").on("click",function () {
            modalOut('log.html')
        });


    });
</script>
</body>
</html>