<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include("__ROOT__/common/html/bar.html"); ?>
    <link href="__ROOT__/common/css/index.css" rel="stylesheet">
</head>
<body class="bgc">
<!-- banner -->
<div id="home" class="bgimg">
    <!-- banner-text -->
    <div class="box"></div>
    <div class="banner-text join-box">
        <h2 class="join-text">Do you want to join us?</h2>
        <br>
        <div class="join">
            <span id="log" style="cursor:pointer">
                Login
            </span>
        </div>
    </div>

    <!-- gallery -->
    <div id="gallery" style="position: relative;bottom: -9em;left: 0em;">
        <div class="container">
            <ul id="flexiselDemo1">
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/course.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/d7.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/work6.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/work4.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/work7.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <img src="__ROOT__/common/image/d8.jpg" alt=" " class="img-responsive the_image"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //gallery -->
<div class="container">
    <!-- camera work -->
    <div class="index_v2">
        <div class="index_title">CAMERA WORK</div>
        <div class="index_camera">
            <div class="index_work1">
                <a href="{:url('/index/index/toBlog?id='.$course1['id'])}" style="color: #0f0f0f;text-decoration:none">
                    <div class="index_image">
                        <img src="__ROOT__/common/image/work7.jpg">
                    </div>
                    <div class="index_char container">
                        <div class="index_char_title">
                            {$course1.title}
                        </div>
                        <div class="index_char_describe">
                            {$course1.content}
                        </div>
                    </div>
                </a>
            </div>
            <div class="index_work2">
                <a href="{:url('/index/index/toBlog?id='.$course2['id'])}" style="color: #0f0f0f;text-decoration:none">
                    <div class="index_image">
                        <img src="__ROOT__/common/image/work6.jpg">
                    </div>
                    <div class="index_char container">
                        <div class="index_char_title">
                            {$course2.title}
                        </div>
                        <div class="index_char_describe">
                            {$course2.content}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="index_line"></div>
        <div class="index_camera">
            <div class="index_work1">
                <a href="{:url('/index/index/toBlog?id='.$course3['id'])}" style="color: #0f0f0f;text-decoration:none">
                    <div class="index_image">
                        <img src="__ROOT__/common/image/work5.jpg">
                    </div>
                    <div class="index_char container">
                        <div class="index_char_title">
                            {$course3.title}
                        </div>
                        <div class="index_char_describe">
                            {$course3.content}
                        </div>
                    </div>
                </a>
            </div>
            <div class="index_work2">
                <a href="{:url('/index/index/toBlog?id='.$course4['id'])}" style="color: #0f0f0f;text-decoration:none">
                    <div class="index_image">
                        <img src="__ROOT__/common/image/work4.jpg">
                    </div>
                    <div class="index_char container">
                        <div class="index_char_title">
                            {$course4.title}
                        </div>
                        <div class="index_char_describe">
                            {$course4.content}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- //camera work -->

    <div class="index_blank"></div>

    <!-- new article-->
    <div class="index_v3">
        <div class="index_title">NEW ARTICLE</div>
        <div class="index_article">
            {notempty name="blog"}
            {volist name="blog" id="item"}
            <div class="index_new container">
                <a href="{:url('/index/index/toBlog?id='.$item['id'])}" style="color: #0f0f0f;text-decoration:none">
                    <div class="index_new_title">
                        {$item.title}
                    </div>
                    <div class="index_new_describe">
                        {$item.content}
                    </div>
                    <div class="index_icon">
                        <!--<div class="index_ico">-->
                        <!--<span class="glyphicon glyphicon-thumbs-up">123</span>-->
                        <!--</div>-->
                        <div class="index_ico">
                            <span class="glyphicon glyphicon-heart-empty">{$item.like}</span>
                        </div>
                        <div class="index_ico">
                            <span class="glyphicon glyphicon-eye-open">{$item.count}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="index_line"></div>
            {/volist}
            {/notempty}
        </div>
        <div class="index_hot">
            <div class="index_hot_article">
                HOT ARTICLE
            </div>
            {notempty name="hot"}
            {volist name="hot" id="item"}
            <div class="index_hot_title container">
                <a href="{:url('/index/index/toBlog?id='.$item['id'])}">{$item.title}</a>
            </div>
            {/volist}
            {/notempty}
        </div>
    </div>
    <!-- //new article-->

</div>

<script type="text/javascript">
    $(function () {  //引入jq之后一定要有这个

        //gallery的滑动效果
        $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });


        $("#login").on("click", function () {
            var option = {
                'url': '/index/index/toLogin',
                'title': "login",
                'actionUrl': '/index/index/login'
            };
            open(option);
        });


        //new article模块输出文章内容时，超出200个字时显示...
        $(".index_new_describe").each(function() {
            var str = $(this).html();
            var subStr = str.substring(0, 200);
            $(this).html(subStr + (str.length > 200 ? '...' : ''));
        });

        //work模块输出文章内容时，超出100个字时显示...
        $(".index_char_describe").each(function() {
            var str = $(this).html();
            var subStr = str.substring(0, 100);
            $(this).html(subStr + (str.length > 100 ? '...' : ''));
        });



    });
</script>
<!--尾部页面引用-->
<?php include("__ROOT__/common/html/footer.html"); ?>
</body>
</html>