<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>普通管理员-出库登记</title>
</head>
<body>
<!-- 模态框（Modal） -->
<div class="modal-content">
    <div class="modal-body">
        <button class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-title">
        <h1 class="text-center">登录</h1>
    </div>
    <div class="modal-body">
        <form class="form-group" action="">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="手机号/邮箱">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="密码">
            </div>
            <div class="text-right">
                <button class="btn btn-primary" type="submit">登录</button>
                <button class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
            <a href="reg.html">还没有账号？点我注册</a>
        </form>
    </div>
</div>
<script>
</script>
</body>
</html>