<html>
<head>
    <meta charset="UTF-8">
    <?php include("__ROOT__/common/html/bar.html"); ?>
    <link href="__ROOT__/common/css/personal.css" rel="stylesheet"/>
    <link href="__ROOT__/common/css/article.css" rel="stylesheet"/>
</head>
<body class="bg">
<!-- background_images -->
<div id="home" style="background: url('__ROOT__{$user.templete_img}')no-repeat 0px 0px;background-size: cover;
    position: relative;
">
    <div class="box"></div>
    <div class="come_up">
        <div class="container">
            <div class="image_div">
                <img class="img-circle image" src={$user->img} alt="头像"/>
            </div>
            <div class="div_right">
                <br>
                <p>{$user->nick_name}</p>
                <div class="div_fans">
                    <span>Focus </span>{$user->focus}
                    <span> | </span>
                    <span>Fans </span>{$user->fans}
                </div>
                <div class="div_signature">
                    <p>{$user->signature}
                        <a href="/index/Personal/toAlter" style="color: white" id="userIfSign">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </p>

                </div>
                <div class="my_tab">
                    <div class="tab_menu">
                        <ul id="test">
                            <li>Photo</li>
                            <li>Blog</li>
                            <li>Chat</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank"></div>
<br>
<div class="container">
    <div class="about4">
        <div class="about4_main">
            <div class="line"></div>
            <ul id="article" class="about4_ul">
                <li id="userIf">
                    <div class="li_div">
                        <div class="li_date">现在</div>
                        <div class="article_editor li_add container">
                            <a href="/index/Personal/toPost">
                                <span class="glyphicon glyphicon-edit article_span"></span>
                            </a>

                        </div>

                    </div>
                </li>
                {notempty name="blog"}
                {volist name="blog" id="item"}
                <li>
                    <div class="li_div">
                        <div class="li_date">{$item.create_time}</div>
                        <div class="li_article container">
                            <a href="{:url('/index/index/toBlog?id='.$item['id'])}" style="color: #0f0f0f;text-decoration:none">
                                <div class="li_title">{$item.title}</div>
                                <div class="li_contend">
                                    {$item.content}
                                </div>
                            </a>
                            <div class="li_icon">
                                <!--<div class="li_span">-->
                                    <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
                                    <!--<div class="li_num">123</div>-->
                                <!--</div>-->
                                <div class="li_span">
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    <div class="li_num">{$item.like}</div>
                                </div>
                                <div class="li_span">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <div class="li_num">{$item.count}</div>
                                </div>
                                <div class="li_span">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {/volist}
                {/notempty}
            </ul>

            <div class="like_course">
                <div class="container">
                    <div class="course">
                        My Course &nbsp
                        <a href="/index/Personal/postCourse" id="userIfCourse">
                            <span class="glyphicon glyphicon-edit" style="font-size: 18px;color: #FFCC33"></span>
                        </a>
                    </div>
                    {notempty name="course"}
                    {volist name="course" id="item"}
                    <div class="my_course">
                        <a href="{:url('/index/index/toBlog?id='.$item['id'])}" style="text-decoration: none;color: #0f0f0f">
                            {$item.title}
                        </a>
                    </div>
                    {/volist}
                    {/notempty}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var currentId = {$Request.session.id};
        var user = {:json_encode($user)};
        console.log(user.id);
        if (user.id != currentId) {
            $("#userIf").css('display','none');
            $("#userIfCourse").css('display','none');
            $("#userIfSign").css('display','none');
        }

        $("div.tab_menu ul li").eq(0).css({"color":"#000"});
        $("div.tab_menu ul li").eq(1).css({"color":"#FFCC33"});
        $("div.tab_menu ul li").eq(2).css({"color":"#000"});

        //获取点击后的li的内容
        var obj_lis = document.getElementById("test").getElementsByTagName("li");
        for(var i = 0; i < obj_lis.length; i++) {
            obj_lis[i].onclick = function () {
                if (this.innerHTML == "Photo") {
                    if (user.id != currentId) {
                        window.location.href = "/index/personal/toUser?id=" + user.id;
                    } else {
                        window.location.href = "/index/personal/toPersonal";
                    }
                } else if (this.innerHTML == "Blog") {
                    if (user.id != currentId) {
                        window.location.href = "/index/personal/toUserBlog?id=" + user.id;
                    } else {
                        window.location.href = "/index/personal/toArticle";
                    }
                }
            };
            //获取ul中li的个数，计算时间轴的长度
            var a = $("#article li").length;
            // console.log(a);
            $(".line").css("top", 60);
            $(".line").height(150 * a - 150);

            //输出文章内容时，超出80个字时显示...
            $(".li_contend").each(function () {
                var str = $(this).html();
                var subStr = str.substring(0, 64);
                $(this).html(subStr + (str.length > 64 ? '...' : ''));
            });
        }
    });
</script type="text/javascript">
</body>
<?php include("__ROOT__/common/html/footer.html"); ?>
</html>