.forum_bg{
    background-color: #F4F7F9;
}
.forum_left{
    width: 800px;
    height: 552px;
    /*background-color: #FFCC33;*/
    float: left;
}
.forum_right{
    width: 320px;
    height: 300px;
    background-color: white;
    float: right;
}
.forum_slide{
    width: 800px;
    height: 241px;
    /*background-color: white;*/
}
.forum_slide img{
    width: 800px;
    height: 241px;
}
.forum_new{
    color: #FFCC33;
    font-size: 20px;
    text-indent: 1em;
    width: auto;
    height: 40px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: white;
    float: left;
}
.forum_quiz{
    color: #FFCC33;
    font-size: 15px;
    width: auto;
    height: 40px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: white;
    float: right;
}
.forum_invitation{
    width: 100%;
    height: 300px;
    background-color: white;
}

.forum_list{
    height: 52px;
    width: 100%;
    /*background-color: #880000;*/
    font-size: 25px;
    text-align: center;
    color: #FFCC33;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-weight: bold;*/
}
.forum_list span{
    font-size: 20px;
    color: #FFCC33;
}
.forum_title{
    width: 100%;
    height: 81px;
    /*background-color: #F4F7F9;*/
    font-size: 15px;
    text-indent: 2em;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.forum_list_line{
    width: 100%;
    height: 3px;
    background-color: #FFCC33;
}