<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include("__ROOT__/common/html/import.html"); ?>
    <link href="__ROOT__/common/css/register.css" rel="stylesheet">
</head>
<body>
<div class="container reg_container">
    <div class="reg_form">
        <form action="" method="post">
            <br>
            <div class="reg_mobile">
                <label>ID</label>
                <div class="reg_right">
                    <input name="ID" type="text" placeholder="手机/邮箱" class="form-control reg_input"/>
                </div>
            </div>
            <div class="reg_mobile">
                <label>Password</label>
                <div class="reg_right">
                    <input name="password" type="password" placeholder="请输入密码" class="form-control reg_input"/>
                </div>
            </div>
            <div class="reg_mobile">
                <label>Affirm</label>
                <div class="reg_right">
                    <input name="affirmpassword" type="password" placeholder="再次输入密码" class="form-control reg_input"/>
                </div>
            </div>
            <div class="reg_button">
                <button type="submit" class="btn btn-default" style="margin-right: 20px">Submit</button>
                <button type="submit" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>

</script>

</body>
</html>