<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php include("__ROOT__/common/html/bar.html"); ?>
    <link href="__ROOT__/common/css/post_forum.css" rel="stylesheet" />
    <script src="__ROOT__/common/js/wangEditor.js"></script>
</head>
<body class="post_bg">
<div class="container">
    <div class="post_left">
        <div class="post_up">
            <div class="post_name container">The New</div>
            {notempty name="new"}
            {volist name="new" id="item"}
            <a href="{:url('/index/Forum/toInvitation?id='.$item['id'])}" style="color: #0f0f0f;text-decoration: none">
                <div class="post_forum container">{$item.title}</div>
            </a>
            {/volist}
            {/notempty}
        </div>
        <div class="post_line"></div>
        <div class="post_up">
            <div class="post_name container">The hot topic</div>
            {notempty name="hot"}
            {volist name="hot" id="item"}
            <a href="{:url('/index/Forum/toInvitation?id='.$item['id'])}" style="color: #0f0f0f;text-decoration: none">
                <div class="post_forum container">{$item.title}</div>
            </a>
            {/volist}
            {/notempty}
        </div>
    </div>

    <div class="post_editor">
        <div class="post_input_title">

            <div class="post_input">
                <input name="title" type="text" class="form-control the_input" placeholder="输入标题">
            </div>
        </div>
        <div id="div1" class="post_wangEditor editor_toolbar"></div>
        <div class="post_replenish">
            <div class="post_button">
                <input type="button" value="publish" id="btn">
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    var content;
    $(function () {
        content = make_editor("#div1", "#btn","/index/Forum/saveForum");
    })
</script>
<?php include("__ROOT__/common/html/footer.html"); ?>
</html>