<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <?php include("__ROOT__/common/html/bar.html"); ?>
    <link href="/common/css/invitation.css" rel="stylesheet" />
</head>
<body class="bar_bg">
<div class="container">
    <div class="invitation_building">
        <div class="invitation_left">
            <div class="invitation_head">
                <img src="__ROOT__/common/image/account.jpg" class="img-circle">
            </div>
            <div class="invitation_name">
                日暮微凉
            </div>
        </div>
        <div class="invitation_right">
            <div class="invitation_icon">
                {$content}
            </div>
        </div>
    </div>
    <br>
    <div class="invitation_building">
        <div class="invitation_left">
            <div class="invitation_head">
                <img src="__ROOT__/common/image/account.jpg" class="img-circle">
            </div>
            <div class="invitation_name">
                日暮微凉
            </div>
        </div>
        <div class="invitation_right">
            <div class="invitation_icon">
                dfsggftgersefdgstewfdwd
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    $(function () {

    })
</script>
<?php include("__ROOT__/common/html/footer.html"); ?>
</html>