<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="/Code/public/static/bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <link href="../common/css/invitation.css" rel="stylesheet" />
    <link href="../common/css/style.css" rel="stylesheet" />
    <script src="/Code/public/static/jquery.js"></script>
    <script src="../common/js/util.js"></script>
</head>
<body class="bar_bg">
<!-- header -->
<div class="headerpage"></div>
<!-- //header -->

<div class="container">
    <div class="invitation_building">
        <div class="invitation_left">
            <div class="invitation_head">
                <img src="../common/image/account.jpg" class="img-circle">
            </div>
            <div class="invitation_name">
                日暮微凉
            </div>
        </div>
        <div class="invitation_right">
            <div class="invitation_icon">
                dfsggftgersefdgstewfdwd
            </div>
        </div>
    </div>

</div>

<!-- footer -->
<div class="footerpage"></div>
<!-- //footer -->
</body>
<script type="text/javascript">
    $(function () {
        interposition();
    })
</script>
</html>