ul, ol, li{
    margin:0;
    padding:0;
    font-family:Arial,"微软雅黑";
}

ol, ul{
    list-style:none;
}

.about4_main{
    position:relative;
    padding-left:20px;
    overflow:hidden;
}
.about4_ul{
    width: 750px;
    float: left;
}
.line{
    width:1px;
    height:100%;
    background-color:#999;
    position:absolute;
    left:26px;
    z-index:-1;
}
.about4_main ul li{
    padding-left:25px;
    font-size:14px;
    color:#333333;
    line-height:30px;
    margin-bottom:30px;
    background:url(../image/about4_icon.png)
    left center no-repeat;}
.about4_main ul li:last-child{
    margin-bottom:0px;
}
.li_div{
    width: 700px;
    height: 120px;
    /*background-color: white;*/
}
.li_date{
    width: 100px;
    height: 100%;
    /*background-color: navajowhite;*/
    float: left;
    display: flex;
    /*实现垂直居中*/
    align-items: center;
    font-size: 17px;
}
.li_article{
    width: 600px;
    height: 100%;
    float: right;
    background-color: white;
}
.li_title{
    width: 100%;
    height: 36px;
    /*background-color: #2aabd2;*/
    display: flex;
    align-items: center;
    font-size: 20px;
}
.li_contend{
    width: 570px;
    height: 62px;
    background-color: white;
    font-size: 15px;

}
.li_icon{
    width: 40%;
    height: 20px;
    float: right;
    /*background-color: brown;*/
}
.li_span{
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    /*实现垂直居中*/
    align-items: center;
}
.li_icon span{
    font-size: 17px;
    color: #8c8c8c;
}
.li_num{
    font-size: 17px;
    color: #8c8c8c;
}
.li_add{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    /*background-color: white;*/
    font-size: 30px;
}
.article_editor{
    width: 600px;
    height: 100%;
    float: right;
}
.article_span{
    color: #999999;
}
.add_icon{
    text-align: center;
    font-size: 50px;
    color: #9d9d9d;
}
.like_course{
    width: 340px;
    height: auto;
    background-color: white;
    float: right;
}
.course{
    height: 70px;
    width: 300px;
    font-size: 25px;
    /*background-color: white;*/
    display: flex;
    align-items: center;
}
.my_course{
    height: 40px;
    width: 300px;
    font-size: 17px;
    /*background-color: #f9f9f9;*/
    display: flex;
    align-items: center;
}