.blog_bg{
    background-color: #F4F7F9;
}
.blog_container{
    max-height: 600px;
}
.blog_author{
    width: 270px;
    height: 300px;
    background-color: white;
    float: left;
}
.blog_head{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_img{
    width: 100px;
    height: 100px;
}
.blog_name{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.blog_sign{
    width: 100%;
    height: 80px;
}
.blog_article{
    float: right;
    width: 850px;
    height: 70%;
    background-color: white;
}
.blog_title{
    width: 100%;
    height: 60px;
    /*background-color: #2aabd2;*/
    font-size: 25px;
    display: flex;
    align-items: center;
    /*text-indent:25px*/
}
.blog_label{
    width: 100%;
    height: 40px;
    /*background-color: #880000;*/

}
.blog_label div{
    width: 70px;
    height: 100%;
    /*background-color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFCC33;
}
.blog_content{
    width: 100%;
    height: 90%;
    background-color: white;
    /*text-indent:25px*/
}
.blog_line{
    width: 100%;
    height: 20px;
    /*background-color: #843534;*/
}
.check_button{
    float: right;
    height: 50px;
    width: 200px;
    /*background-color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_comment{
    float: right;
    width: 850px;
    min-height: 150px;
    /*background-color: #FFCC33;*/
}
.blog_input{
    width: 100%;
    height: 40px;
    /*background-color: #2aabd2;*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
.blog_i{
    width: 80%;
}
.blog_l{
    width: 100%;
    height: 20px;
    background-color: white;
}
.blog_people{
    width: 100%;
    max-height: 50px;
    background-color: white;
}
.blog_who{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    /*background-color: white;*/
}
.blog_people_head{
    width: 50px;
    height: 50px;
}
.blog_people_content{
    float: right;
    width: 780px;
    height: auto;
    background-color: white;
}