.first {
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}
.first:before {
    background: url(../image/personal_bg.jpg ) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-filter:blur(5px);
    filter: blur(px);
}
.first_container{
    height: 600px;
    /*background-color: #FFCC33;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
.first_admin{
    float: left;
    width: 250px;
    height: 250px;
    margin-left:200px;
    background-color: #F4F7F9;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_user{
    float: right;
    width: 250px;
    height: 250px;
    margin-left: 250px;
    background-color: #F4F7F9;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_icon{
    color: white;
    font-size: 80px;
}