.reg_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.reg_form{
    width: 430px;
    height: 300px;
    background-color: #F4F7F9;
    border-radius: 10px;
}
.reg_mobile{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    /*background-color: white;*/
}
.reg_mobile label{
    float: right;
    width: 100px;
    /*background-color: #9d9d9d;*/
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
.reg_input{
    width: 300px;
}
.reg_button{
    width: 200px;
    height: 60px;
    margin-left: 230px;
    /*background-color: #2aabd2;*/
    display: flex;
    align-items: center;
}
.login_form{
    width: 430px;
    height: 250px;
    background-color: #F4F7F9;
    border-radius: 10px;
}